Package: com.cooper.blockify
Name: Blockify
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>=11.0)
Architecture: iphoneos-arm
Description: Blocks certain words
Maintainer: mac-user669 <cooper@cooperhull.com>
Author: mac-user669 <cooper@cooperhull.com>
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 292
